.card {
    width: 50%;
    margin: 2rem auto 0;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    color: #ffffff;
}

.card-header {
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-user img{
    width: 30px;
    height: 30px;
    margin: 0 15px 0 0;
}

.card-date{
    display: flex;
    align-items: center;
}
.card-date svg{
    font-size: 2rem;
    margin: 0 1rem 0 0;
}

.card-post{
    
}


























@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1000px) {}

@media only screen and (max-width:800px) {}

@media only screen and (max-width:600px) {}