.dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5rem 15rem;
}
.dash-home-btn{
    width: 10%;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard .user-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-profile img {
    width: 10%;
    margin: 0 2rem 0 0;
}

.user-information {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: baseline;
}

.user-information div {
    display: flex;
    flex-direction: row;

}

.user-information div p:first-child{
    margin: 0 1rem 0 2rem;
    font-weight: 700;
    color: #ffffff;
}
.user-information div p:last-child{
    color: #cfcfcf;
    font-weight: 200;
}
.dashboard h1{
    color: #ffffff;
    margin: 3rem auto;
}
.user-posts{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
