.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 4rem;
    box-shadow: 0 4px 2px -2px rgba(50, 50, 50, 0.2);
    background-color: #0f0f0f;
}

.navbar a {
    text-decoration: none;
}

.nav-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.2rem;
}


.nav-title img {
    margin: 6px 10px 0 0;
    width: 2rem;
    height: 2rem;
    transform: scale(1.3);

}

.clicked svg {
    transform: rotate(180deg);
}




.nav-auth {
    display: flex;
    flex-direction: row;
    margin: auto 2vw auto 0;
}

.nav-auth a {
    text-decoration: none;
}

.profile-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(61, 61, 61);
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
}

.profile-div p {
    font-size: 1.3rem;
    color: #ffffff;
}

.profile-img-male {
    background: url('/assets/man.png');
    background-size: cover;
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0 0 0 1rem;
}

.profile-img-female {
    background: url('/assets/woman.png');
    background-size: cover;
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
}

.nav-dropdown {
    position: relative;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.nav-drop-menu {
    flex-direction: column;
    position: absolute;
    padding: 5px 0 5px 0 !important;
    margin: 0 !important;
    right: 0;
    top: 4.3rem;
    width: 9.5rem;
    border-radius: 5px;
    background-color: #282828;
}

.nav-drop-menu hr {
    height: 1px;
    border: #6c6c6d solid 1px;
}

.nav-drop-menu div {
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    transition: 0.2s;
    color: #ffffff;
}

.nav-drop-menu div:hover {
    background-color: rgb(153, 153, 153);
}

.nav-create-account-link{
    padding: 0.7rem 1.5rem;
    margin: 0.1rem;
    transition: 0.05s ease-in-out;
    border: 2px solid transparent;
    border-radius: 4px;
}
.nav-create-account-link:hover{
    border: 2px solid #e58014;
}

.nav-create-account-p {
    color: #ffffff;
    font-size: 1.2rem;
}

.nav-create-account-p span {
    transition: 0.1s ease-in-out;
    color: #e58014;
}

.nav-create-account-p:hover span {
    transform: scale(1.05);
}

.nav-unsigned {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-login-link{
    margin: 0 3rem 0 0;
}
.nav-login-link button{
    padding:0.8rem 1.6rem;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
}
.nav-login-link button:hover{
    background-color: #e58014;
    color: #ffffff;
}