.recommended{
    display: flex;
    flex-direction: column;
    margin: 4rem 0 0 0;
    width: 80%;
}
.recommended-heading{
    font-size: 130%;
    margin: 0 0 1.5rem 0;
}
.recommended-heading svg{
    margin: 0 2% 0 0;
}
.recommended-list{
    display: flex;
    flex-direction: column;
}
.recommended-list .items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.recommended-list .items span{
    cursor: pointer;
    padding: 1.8% 5%;
    border-radius: 14px;
    background-color: #EDEEF0;
    
}
.recommended-list .items div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.recommended-list .items div img{
    margin: 0 12% 0 0;
}
.recommended-list .items div p{
    font-size: 0.95rem;
    font-weight: 500;
}
.recommended .see-more{
    display: flex;
    justify-content: right;
    margin: 3rem 0 0 0;
    color: #2F6CE5;
}