.forgotpass {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotpass form {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #7c7c7c;
    padding: 4rem;
    width: 30%;
    border-radius: 2px;
}

.forgotpass form input {
    color: #ffffff;
    margin: 0.7rem;
    height: 2rem;
    border-radius: 8px;
    border: 1px solid #7c7c7c;
    padding: 10px;
    background-color: transparent;
    width: 100%;
}

.forgotpass form button {
    width: 50%;
    margin: 2rem 0 0 0;
    height: 2rem;
    cursor: pointer;
}

.forgotpass h2 {
    color: aliceblue;
    text-align: center;
    margin: 0 0 1rem 0;
}

.otp-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-wrapper form {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #7c7c7c;
    padding: 4rem;
    width: 30%;
    border-radius: 2px;
}

.otp-wrapper form input {
    color: #ffffff;
    margin: 0.7rem;
    height: 2rem;
    border-radius: 8px;
    border: 1px solid #7c7c7c;
    padding: 10px;
    background-color: transparent;
    width: 100%;
}

.otp-wrapper form button {
    width: 50%;
    margin: 2rem 0 0 0;
    height: 2rem;
    cursor: pointer;
}

.otp-wrapper h2 {
    color: aliceblue;
    text-align: center;
    margin: 0 0 0rem 0;
}

.otp-wrapper p {
    color: #a8a8a8;
    margin: 0 0 1rem 0;
}


.new-password {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-password form {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #7c7c7c;
    padding: 4rem;
    width: 30%;
    border-radius: 2px;
}

.new-password form input {
    color: #ffffff;
    margin: 0.7rem;
    height: 2rem;
    border-radius: 8px;
    border: 1px solid #7c7c7c;
    padding: 10px;
    background-color: transparent;
    width: 100%;
}

.new-password form button {
    width: 50%;
    margin: 2rem 0 0 0;
    height: 2rem;
    cursor: pointer;
}

.new-password h2 {
    color: aliceblue;
    text-align: center;
    margin: 0 0 1rem 0;
}